.maxSalary {
    background-color: red;

}

.heading {
    background-color: #484848;
    color:#D0D0D0;
    text-align: center;
    margin: 0; 
    padding: 25px; 
    box-sizing: border-box; 
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    

}

#inputBoxes {
    width: 100%;
}

#submitEmployeeBtn {
    width: 12%;
    font-size: 16px;
    position: relative;
    position: relative;
    top: 43px;

}

#employeeTable {
    border: 1px solid black;
    padding: 8 px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    border-collapse: collapse;
}

table td {
    padding: 0.5rem;
    border: 5px solid black;
}

table th {
    padding: 0.5rem;
    border: 5px solid black;

}

#salaryTable {
    text-align: right;
}